{{- if .Values.infisical.enabled }}
{{- range $key, $value := .Values.deployments }}
{{- $deploymentName := ( include "ef-mobile-app.deploymentName" ( list $ $key ) ) }}
apiVersion: secrets.infisical.com/v1alpha1
kind: InfisicalSecret
metadata:
  name: {{ printf "%s-infisical" $deploymentName | quote }}
  namespace: {{ $.Release.Namespace }}
spec:
  authentication:
    {{- toYaml $.Values.infisical.authentication | nindent 4 }}
  {{- if .Values.infisical.hostAPI }}
  hostAPI: {{ $.Values.infisical.hostAPI }}
  {{- end}}
  {{- if .Values.infisical.resyncInterval }}
  resyncInterval: {{ $.Values.infisical.resyncInterval }}
  {{- end}}
  managedKubeSecretReferences:
    - secretName: {{ printf "%s-backend-config" $deploymentName | quote }}
      secretNamespace: {{ $.Release.Namespace }}
      secretType: Opaque
      creationPolicy: Owner
      template:
        includeAllSecrets: false
        data:
          appsettings.json: {{ printf "{{ .%s_APPSETTINGS_JSON.Value }}" (upper $key) | quote }}
          firebase.json: {{ printf "{{ .%s_FIREBASE_JSON.Value }}" (upper $key) | quote }}
  managedKubeConfigMapReferences:
    - configMapName: {{ printf "%s-backoffice-config" $deploymentName | quote }}
      configMapNamespace: {{ $.Release.Namespace }}
      creationPolicy: Owner
      template:
        includeAllSecrets: false
        data:
          appsettings-backoffice.json: {{ printf "{{ .%s_APPSETTINGS_BACKOFFICE_JSON.Value }}" (upper $key) | quote }}
    - configMapName: {{ printf "%s-well-known" $deploymentName | quote }}
      configMapNamespace: {{ $.Release.Namespace }}
      creationPolicy: Owner
      template:
        includeAllSecrets: false
        data:
          apple-app-site-association.json: {{ printf "{{ .%s_APPLE_APP_SITE_ASSOCIATION_JSON.Value }}" (upper $key) | quote }}
          assetlinks.json: {{ printf "{{ .%s_ASSETLINKS_JSON.Value }}" (upper $key) | quote }}
---
{{- end}}
{{- end}}
